<div class="jumbotron">
    <h1>WEB API</h1>
    <p class="lead">WEB API created to help people to track Crimes in Toronto/CA.</p>
    <p><a href=" https://data.torontopolice.on.ca/pages/homicide" class="btn btn-primary btn-lg" target="_blank">Data Set &raquo;</a></p>
</div>

